# This House Price Prediction model uses a Multi-Layer Perceptron (MLP). 
**I performed EDA and data preprocessing to extract key features. The model is trained with the Adam optimizer and Mean Squared Error (MSE) loss function.**

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price/house_prices.csv

In [2]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error,r2_score

2025-07-26 14:07:39.114984: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1753538859.361745      13 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1753538859.429398      13 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [3]:
data=pd.read_csv("/kaggle/input/house-price/house_prices.csv")

In [4]:
data.tail(20)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
187511,187511,4 BHK Ready to Occupy Flat for sale in Savitry...,This exquisite 4 BHK Flat is offered for sale ...,60 Lac,4594.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,East,"Garden/Park, Main Road",Savitry Enclave,3,2,1 Open,Freehold,1306 sqft,NaN,NaN
187512,187512,2 BHK Ready to Occupy Flat for sale in Jaivee ...,"Peer Muchalla, Zirakpur has an appealing 2 BHK...",40 Lac,3810.0,zirakpur,950 sqft,Ready to Move,3 out of 3,Resale,...,East,"Garden/Park, Main Road",Jaivee Radha Enclave,2,2,NaN,Freehold,NaN,NaN,NaN
187513,187513,3 BHK Ready to Occupy Flat for sale in Motia C...,This ready to move-in 3 BHK flat is available ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,3 out of 3,Resale,...,NaN,NaN,Motia City,NaN,NaN,2 Covered,NaN,NaN,NaN,NaN
187514,187514,3 BHK Ready to Occupy Flat for sale Gazipur,"This lovely 3 BHK Flat in Gazipur, Zirakpur is...",65 Lac,3939.0,zirakpur,1200 sqft,Ready to Move,1 out of 4,New Property,...,East,Garden/Park,NaN,3,3,"1 Covered,",Freehold,NaN,NaN,NaN
187515,187515,3 BHK Ready to Occupy Flat for sale in Savitry...,This exquisite 3 BHK Flat is offered for sale ...,55 Lac,3868.0,zirakpur,1200 sqft,Ready to Move,2 out of 3,Resale,...,NaN,NaN,Savitry Enclave,3,2,NaN,Freehold,NaN,NaN,NaN
187516,187516,2 BHK Ready to Occupy Flat for sale Gazipur,This beautiful 2 BHK Flat is available for sal...,29.9 Lac,3322.0,zirakpur,750 sqft,Ready to Move,2 out of 3,New Property,...,North - East,Main Road,NaN,2,2,1 Covered,Freehold,NaN,NaN,NaN
187517,187517,3 BHK Ready to Occupy Flat for sale in Sushma ...,One can find this stunning 3 BHK flat for sale...,83.5 Lac,4898.0,zirakpur,1195 sqft,Ready to Move,5 out of 9,New Property,...,North - East,"Garden/Park, Pool, Main Road",Sushma Crescent,3,3,1 Covered,Freehold,NaN,NaN,NaN
187518,187518,3 BHK Ready to Occupy Flat for sale in Sushma ...,This ready to move-in 3 BHK flat is available ...,54.9 Lac,3268.0,zirakpur,NaN,Ready to Move,7 out of 8,Resale,...,NaN,"Garden/Park, Pool",Sushma Urban Views,2,5,NaN,Freehold,1680 sqft,NaN,NaN
187519,187519,3 BHK Ready to Occupy Flat for sale Dhakoli,This magnificent 3 BHK Flat is available for s...,37 Lac,4405.0,zirakpur,NaN,Ready to Move,3 out of 4,Resale,...,NaN,NaN,NaN,3,NaN,NaN,NaN,840 sqft,NaN,NaN
187520,187520,3 BHK Ready to Occupy Flat for sale in Sushma ...,"This lovely 3 BHK Flat in Gazipur, Zirakpur is...",78 Lac,4615.0,zirakpur,1352 sqft,Ready to Move,2 out of 12,Resale,...,North,Garden/Park,Sushma Crescent,2,4,1 Open,Freehold,NaN,NaN,NaN
187521,187521,4 BHK Ready to Occupy Flat for sale Nagla Road,"Nagla Road, Zirakpur has an appealing 4 BHK fl...",1.18 Cr,5816.0,zirakpur,NaN,Ready to Move,2 out of 11,Resale,...,NaN,"Garden/Park, Main Road",NaN,4,4,NaN,Freehold,2029 sqft,NaN,NaN
187522,187522,3 BHK Ready to Occupy Flat for sale in GHB Spl...,Up for immediate sale is a 3 BHK apartment in ...,80 Lac,4040.0,zirakpur,1200 sqft,Ready to Move,3 out of 3,Resale,...,East,Garden/Park,GHB Splande,3,3,NaN,Freehold,NaN,NaN,NaN
187523,187523,5 BHK Ready to Occupy Flat for sale in Orvis G...,This magnificent 5 BHK Flat is available for s...,1.19 Cr,4547.0,zirakpur,1705 sqft,Ready to Move,5 out of 10,Resale,...,North - East,"Garden/Park, Pool, Main Road",Orvis Grand,5,3,1 Covered,Freehold,NaN,NaN,NaN
187524,187524,3 BHK Ready to Occupy Flat for sale in Sushma ...,One can find this stunning 3 BHK flat for sale...,69.6 Lac,5135.0,zirakpur,895 sqft,Ready to Move,5 out of 8,Resale,...,North - East,"Garden/Park, Pool, Main Road",Sushma Joynest MOH 1,3,2,1 Covered,Freehold,NaN,NaN,NaN
187525,187525,3 BHK Ready to Occupy Flat for sale in Peer Mu...,Have a look at this immaculate 3 BHK flat for ...,44.9 Lac,3904.0,zirakpur,1050 sqft,Ready to Move,1 out of 3,New Property,...,North - East,"Garden/Park, Main Road",Peer Muchalla Apartments RWF,3,2,NaN,Freehold,NaN,NaN,NaN
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,...,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,...,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,...,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,...,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN

In [5]:
data.describe()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

**There are many missing values in this data set we can use the feature which has fever number of missing values.**

In [7]:
print(data.isna().sum())

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

**To better understand the nature of categorical and discrete features, I analyzed the unique values present in several columns.**

In [8]:
a=["location","Status","Floor","Furnishing","facing","overlooking","Bathroom","Balcony","Car Parking","Ownership"]
for cat in a :
    print(f"{cat}:\n{data[cat].unique()}\n")

location:
['thane' 'navi-mumbai' 'nagpur' 'mumbai' 'ahmedabad' 'bangalore' 'chennai'
 'gurgaon' 'hyderabad' 'indore' 'jaipur' 'kolkata' 'lucknow' 'new-delhi'
 'noida' 'pune' 'agra' 'ahmadnagar' 'allahabad' 'aurangabad' 'badlapur'
 'belgaum' 'bhiwadi' 'bhiwandi' 'bhopal' 'bhubaneswar' 'chandigarh'
 'coimbatore' 'dehradun' 'durgapur' 'ernakulam' 'faridabad' 'ghaziabad'
 'goa' 'greater-noida' 'guntur' 'guwahati' 'gwalior' 'haridwar' 'jabalpur'
 'jamshedpur' 'jodhpur' 'kalyan' 'kanpur' 'kochi' 'kozhikode' 'ludhiana'
 'madurai' 'mangalore' 'mohali' 'mysore' 'nashik' 'navsari' 'nellore'
 'palakkad' 'palghar' 'panchkula' 'patna' 'pondicherry' 'raipur'
 'rajahmundry' 'ranchi' 'satara' 'shimla' 'siliguri' 'solapur' 'sonipat'
 'surat' 'thrissur' 'tirupati' 'trichy' 'trivandrum' 'udaipur' 'udupi'
 'vadodara' 'vapi' 'varanasi' 'vijayawada' 'visakhapatnam' 'vrindavan'
 'zirakpur']

Status:
['Ready to Move' nan]

Floor:
['10 out of 11' '3 out of 22' '10 out of 29' '1 out of 3' '20 out of 42'
 '2 out of 7' '4 out of 5' 'Ground out of 7' 'Ground out of 2'
 '3 out of 27' '6 out of 20' '16 out of 24' '8 out of 20' '18 out of 27'
 '2 out of 3' '10 out of 16' '5 out of 7' '20 out of 28' '3 out of 3'
 '3 out of 7' '15 out of 31' '2 out of 28' '27 out of 27' '6 out of 7'
 '5 out of 5' '3 out of 8' '11 out of 17' '9 out of 24' '16 out of 27'
 '14 out of 29' '12 out of 27' '1 out of 27' '2 out of 4' '16 out of 38'
 '3 out of 4' '2 out of 17' '12 out of 28' '3 out of 19' '6 out of 28'
 '1 out of 4' '7 out of 16' '2 out of 2' '1 out of 9' '7 out of 12'
 '10 out of 10' '4 out of 4' '14 out of 17' '21 out of 27' '5 out of 8'
 '7 out of 30' '6 out of 18' '14 out of 28' '3 out of 5' '2 out of 24'
 '1 out of 8' '2 out of 16' '7 out of 7' '4 out of 28' '4 out of 26'
 '1 out of 17' '20 out of 32' '10 out of 25' '15 out of 17' '8 out of 9'
 'Upper Basement out of 9' '8 out of 27' '8 out of 19' '2 out of 8'
 '15 out of 30' '21 out of 26' '5 out of 12' '3 out of 18' '5 out of 14'
 '1 out of 29' '5 out of 16' '3 out of 28' '4 out of 20' '1 out of 5' nan
 '29 out of 29' '10 out of 12' '10 out of 30' '13 out of 26'
 'Ground out of 3' '5 out of 28' '2 out of 5' '12 out of 12' '1 out of 6'
 'Ground out of 4' '3 out of 20' '7 out of 15' '6 out of 13' '2 out of 29'
 '4 out of 7' '1 out of 7' '20 out of 35' '13 out of 31' '3 out of 23'
 '19 out of 19' '11 out of 18' '18 out of 30' '10 out of 20' '2 out of 19'
 '16 out of 23' '3 out of 30' '8 out of 8' '17 out of 27' '5 out of 6'
 '11 out of 26' '12 out of 30' '4 out of 6' '1 out of 1' '10 out of 14'
 '14 out of 32' '15 out of 32' '6 out of 29' '1 out of 20' '28 out of 32'
 '6 out of 8' '12 out of 21' '14 out of 22' '30 out of 36' '23 out of 32'
 '25 out of 30' '12 out of 22' '26 out of 27' '9 out of 19' '4 out of 24'
 '7 out of 8' '4 out of 8' '19 out of 30' '12 out of 19' '10 out of 31'
 '3 out of 6' '24 out of 32' '21 out of 28' '16 out of 22' '19 out of 24'
 '7 out of 19' 'Ground out of 5' '14 out of 23' '4 out of 30'
 '1 out of 14' '7 out of 13' '23 out of 35' '17 out of 18' '2 out of 21'
 '7 out of 31' '10 out of 18' '20 out of 26' '14 out of 19' '9 out of 16'
 '8 out of 18' '12 out of 18' '6 out of 21' '8 out of 16' '18 out of 20'
 '6 out of 40' '5 out of 11' '12 out of 24' '6 out of 16' '1 out of 19'
 '8 out of 12' '10 out of 28' '19 out of 23' '5 out of 17' '16 out of 17'
 '17 out of 17' '1 out of 2' '17 out of 32' '15 out of 15' '7 out of 18'
 '19 out of 36' '13 out of 27' '21 out of 32' '29 out of 30'
 '16 out of 28' '22 out of 29' '23 out of 24' '4 out of 12' '11 out of 32'
 '21 out of 24' '16 out of 30' '26 out of 30' '25 out of 36' '7 out of 26'
 '9 out of 29' '11 out of 29' '8 out of 15' '12 out of 25' '16 out of 32'
 '2 out of 6' '5 out of 18' '5 out of 13' '14 out of 30' '4 out of 18'
 '7 out of 14' '9 out of 10' '14 out of 27' '14 out of 16' '9 out of 12'
 '10 out of 19' '4 out of 23' '16 out of 16' '14 out of 26' '9 out of 17'
 '8 out of 23' '4 out of 17' 'Ground out of 1' '5 out of 21'
 '19 out of 20' '4 out of 10' '6 out of 15' '20 out of 29' '6 out of 30'
 '7 out of 9' '4 out of 16' '21 out of 45' '16 out of 19' '6 out of 12'
 '19 out of 26' '22 out of 25' '2 out of 10' '6 out of 27' '15 out of 27'
 '16 out of 26' '13 out of 20' '9 out of 22' '9 out of 18' '3 out of 11'
 '6 out of 10' '4 out of 15' '3 out of 12' '18 out of 23' '3 out of 13'
 '10 out of 13' '2 out of 12' '18 out of 28' '2 out of 15' '1 out of 26'
 'Ground out of 6' '17 out of 30' '25 out of 27' '8 out of 30'
 '15 out of 18' '50 out of 50' '7 out of 11' '11 out of 28' '5 out of 9'
 '20 out of 36' '5 out of 27' '7 out of 22' '5 out of 19' '6 out of 22'
 '4 out of 22' '1 out of 13' '9 out of 15' '15 out of 20' '13 out of 30'
 '12 out of 23' '28 out of 30' '10 out of 22' '24 out of 26'
 '25 out of 32' '16 out of 18' '9 out of 20' '10 out of 27' '15 out of 16'
 '9 out of 14' '23 out of 27' '27 out of 36' '17 out of 25' '23 out of 28'
 '12 out of 31' '32 out of 36' '25 out of 29' '12 out of 33' '1 out of 12'
 '10 out of 26' '3 out of 16' '17 out of 19' '2 out of 27' '13 out of 42'
 '27 out of 31' '2 out of 14' '7 out of 17' '11 out of 25' '15 out of 28'
 '13 out of 16' '1 out of 30' '13 out of 32' '5 out of 30' '5 out of 33'
 '17 out of 29' '11 out of 24' '13 out of 24' '18 out of 24'
 '13 out of 25' '2 out of 9' 'Ground out of 28' '9 out of 11'
 '1 out of 16' '8 out of 25' '14 out of 20' '5 out of 22' '2 out of 20'
 '10 out of 24' '8 out of 28' '10 out of 36' '2 out of 11' '22 out of 33'
 '8 out of 17' '2 out of 18' '13 out of 14' '3 out of 31' '30 out of 32'
 '11 out of 19' '19 out of 31' '4 out of 36' '13 out of 34' '6 out of 37'
 '11 out of 27' '8 out of 36' '1 out of 28' '11 out of 36' '3 out of 15'
 '6 out of 14' '6 out of 17' '22 out of 24' '9 out of 23' '8 out of 11'
 '12 out of 29' '4 out of 27' '2 out of 23' '9 out of 21' '8 out of 14'
 '11 out of 20' '21 out of 23' '15 out of 19' 'Ground out of 8'
 '22 out of 30' '25 out of 28' '9 out of 13' '20 out of 30' '19 out of 28'
 '16 out of 21' '30 out of 34' '24 out of 28' '2 out of 31' '12 out of 13'
 '24 out of 25' '2 out of 22' '26 out of 28' '27 out of 28' '18 out of 29'
 '8 out of 26' '16 out of 29' '16 out of 20' '17 out of 20' '13 out of 13'
 'Ground out of 14' '12 out of 14' '5 out of 15' '9 out of 38'
 '18 out of 38' '33 out of 36' '15 out of 23' '11 out of 22' '6 out of 6'
 '7 out of 33' '20 out of 39' '4 out of 13' '9 out of 25' '1 out of 15'
 '5 out of 23' '9 out of 26' '9 out of 34' '5 out of 34' '20 out of 38'
 '7 out of 34' '10 out of 34' 'Lower Basement out of 7' '10 out of 15'
 '11 out of 16' '8 out of 13' '11 out of 14' '14 out of 15' '3 out of 21'
 '24 out of 29' '13 out of 17' '14 out of 14' '2 out of 40' '18 out of 26'
 '17 out of 21' '3 out of 25' '20 out of 31' 'Upper Basement out of 7'
 '15 out of 22' '20 out of 27' '1 out of 18' '9 out of 9'
 'Upper Basement out of 4' '22 out of 27' '25 out of 34' '11 out of 13'
 '10 out of 17' '19 out of 32' '9 out of 28' 'Upper Basement out of 8'
 '11 out of 15' 'Lower Basement out of 6' '3 out of 14' '2' '2 out of 13'
 '21 out of 31' '14 out of 31' '4 out of 9' '5 out of 10' '1 out of 10'
 '7 out of 10' '13 out of 15' '1 out of 88' '4 out of 11' '20 out of 21'
 '23 out of 30' '8 out of 55' '10 out of 32' '3 out of 45' '9 out of 45'
 '5 out of 41' '40 out of 51' '7 out of 27' '8 out of 22' '1 out of 23'
 '7 out of 21' '35 out of 44' '12 out of 20' '20 out of 40' '24 out of 33'
 '4 out of 19' '10 out of 23' '8 out of 10' '14 out of 24' '25 out of 55'
 '40 out of 60' '20 out of 20' '20 out of 22' '4 out of 21' '40 out of 54'
 '5 out of 20' '13 out of 36' '18 out of 18' '21 out of 36' '9 out of 27'
 '28 out of 60' '28 out of 31' '19 out of 27' '6 out of 9' '26 out of 35'
 '17 out of 58' '10 out of 21' '12 out of 15' 'Ground out of 12'
 '22 out of 40' '14 out of 21' '21 out of 25' '15 out of 36'
 '23 out of 40' '12 out of 16' '20 out of 23' 'Upper Basement out of 10'
 '23 out of 68' '25 out of 67' '25 out of 41' '11 out of 21'
 '12 out of 40' '20 out of 56' '42 out of 60' '17 out of 60'
 '30 out of 30' '63 out of 63' '38 out of 67' '21 out of 30'
 '34 out of 91' '7 out of 32' '17 out of 52' '28 out of 28' '60 out of 60'
 '6 out of 26' '17 out of 45' '18 out of 21' '19 out of 42' '31 out of 38'
 '27 out of 47' '17 out of 24' '31 out of 41' '19 out of 22'
 '21 out of 21' '11 out of 40' '2 out of 30' '20 out of 48' '14 out of 18'
 '19 out of 21' '16 out of 36' '18 out of 39' '37 out of 38'
 '25 out of 37' '11 out of 60' '23 out of 34' '5 out of 55' '20 out of 60'
 '8 out of 21' '75 out of 91' '18 out of 22' '18 out of 41' '13 out of 22'
 '33 out of 40' '18 out of 34' '34 out of 36' '26 out of 36'
 '70 out of 85' '60 out of 78' '4 out of 14' '21 out of 37' '7 out of 20'
 '3 out of 43' '39 out of 42' '29 out of 38' '9 out of 30' '15 out of 40'
 '17 out of 37' 'Upper Basement out of 22' '12 out of 35' '11 out of 23'
 '14 out of 35' '29 out of 36' '15 out of 21' '7 out of 54' '14 out of 39'
 '15 out of 45' '44 out of 91' '3 out of 10' '32 out of 42' '16 out of 44'
 '34 out of 53' '16 out of 40' '30 out of 37' '35 out of 77'
 '21 out of 22' '25 out of 45' '18 out of 35' '29 out of 34'
 '40 out of 40' '27 out of 54' '5 out of 29' '32 out of 44' '38 out of 91'
 '2 out of 25' '16 out of 43' '30 out of 43' '34 out of 43' '35 out of 43'
 '12 out of 43' '7 out of 25' '11 out of 30' '28 out of 56' '46 out of 55'
 '19 out of 35' '25 out of 40' '18 out of 42' '6 out of 34' '3 out of 9'
 '16 out of 41' '11 out of 38' '15 out of 38' '15 out of 35'
 '13 out of 23' '22 out of 22' '28 out of 50' '17 out of 22'
 '24 out of 52' '5 out of 35' '13 out of 28' 'Upper Basement out of 15'
 '22 out of 35' '13 out of 54' '6 out of 25' '36 out of 54' '21 out of 39'
 '20 out of 25' '59 out of 75' '11 out of 12' '21 out of 29'
 '45 out of 76' '11 out of 51' '12 out of 55' '16 out of 63'
 '23 out of 41' '13 out of 41' '24 out of 39' '16 out of 39'
 '12 out of 52' '27 out of 40' '51 out of 78' '30 out of 44'
 '12 out of 17' '21 out of 38' '4 out of 40' '32 out of 61' '4 out of 32'
 '30 out of 40' '28 out of 42' '32 out of 68' '8 out of 53' '9 out of 60'
 '18 out of 25' 'Lower Basement out of 12' '11 out of 11'
 'Lower Basement out of 8' '1 out of 11' 'Ground out of 10'
 'Lower Basement out of 14' 'Upper Basement out of 14'
 'Lower Basement out of 3' '6 out of 11' 'Lower Basement out of 13'
 'Lower Basement out of 5' '19 out of 25' '3 out of 17' '13 out of 21'
 'Lower Basement out of 11' 'Ground out of 13' '7 out of 23'
 'Upper Basement out of 3' '13 out of 18' 'Ground' '3 out of 60'
 '6 out of 23' 'Ground out of 11' 'Upper Basement out of 5' '12 out of 32'
 '20 out of 24' '31 out of 31' '19 out of 40' '23 out of 23'
 '25 out of 26' 'Lower Basement out of 4' '27 out of 32' 'Ground out of 9'
 '18 out of 19' 'Ground out of 20' '12 out of 37' '6 out of 19'
 '10 out of 35' '8 out of 24' '9 out of 32' '14 out of 37' '27 out of 30'
 '1 out of 33' 'Ground out of 15' '15 out of 37' '25 out of 31'
 'Ground out of 21' '5 out of 25' '18 out of 32' '17 out of 26'
 '27 out of 34' '24 out of 30' '1 out of 21' '9 out of 40' '4'
 '11 out of 34' '2 out of 50' '19 out of 29' '29 out of 32' '21 out of 40'
 'Ground out of 19' 'Upper Basement out of 16' '5 out of 32' '1 out of 31'
 '2 out of 32' '22 out of 32' '29 out of 35' '13 out of 19' '16 out of 25'
 '17 out of 23' '2 out of 34' '4 out of 29' '1 out of 22'
 'Ground out of 18' '5 out of 31' '30 out of 31'
 'Upper Basement out of 18' 'Ground out of 40' 'Upper Basement out of 12'
 '1 out of 25' 'Ground out of 32' '25 out of 25' '15 out of 34'
 '15 out of 24' '22 out of 23' '17 out of 31' '31 out of 32'
 'Ground out of 16' '24 out of 27' '9 out of 35' '22 out of 26'
 '22 out of 34' '3 out of 26' '10 out of 33' '30 out of 33' '25 out of 44'
 '5 out of 26' '8 out of 29' '24 out of 38' '24 out of 40' '32 out of 32'
 '7 out of 28' '29 out of 45' 'Upper Basement out of 11' '31 out of 35'
 '1' '16 out of 45' 'Upper Basement out of 6' 'Upper Basement out of 2'
 'Ground out of 17' '26 out of 29' 'Lower Basement out of 1'
 '26 out of 45' 'Lower Basement out of 2' '35 out of 35' '27 out of 29'
 '12 out of 36' '3 out of 42' '3' '22 out of 28' 'Upper Basement out of 1'
 '28 out of 40' '10 out of 40' 'Lower Basement out of 29' '29 out of 51'
 '11 out of 33' '3 out of 24' '12 out of 34' '4 out of 38' '15 out of 51'
 '2 out of 26' '10 out of 42' '8 out of 38' '16 out of 35' '12 out of 26'
 '4 out of 42' '23 out of 25' '20 out of 43' '4 out of 25' '20 out of 33'
 '17 out of 51' '6 out of 32' '18 out of 33' '3 out of 32' '10 out of 38'
 '4 out of 41' '14 out of 43' 'Ground out of 30' '8 out of 31'
 '20 out of 34' '14 out of 25' '30 out of 35' '23 out of 36'
 '14 out of 34' '17 out of 33' '24 out of 24' 'Lower Basement out of 10'
 '34 out of 42' '8 out of 35' '6 out of 42' '7 out of 40' '2 out of 38'
 '23 out of 33' '19 out of 33' '8 out of 32' '4 out of 34' '13 out of 35'
 '25 out of 42' '4 out of 39' '16 out of 31' '35 out of 42' '7 out of 24'
 '8 out of 42' '20 out of 44' '14 out of 36' '9 out of 42' '27 out of 38'
 '1 out of 40' '32 out of 35' '28 out of 29' '22 out of 37' '9 out of 33'
 '18 out of 44' 'Lower Basement out of 9' '7 out of 29' '15 out of 25'
 '5 out of 38' '17 out of 35' '14 out of 38' '22 out of 31' '26 out of 40'
 '6 out of 31' '23 out of 38' '28 out of 53' '10 out of 39' '4 out of 37'
 '26 out of 31' '11 out of 31' 'Lower Basement out of 16' '25 out of 35'
 '7 out of 50' '15 out of 29' '14 out of 40' '11 out of 35'
 'Upper Basement out of 29' '5 out of 40' '5 out of 24' '30 out of 51'
 '22 out of 36' '19 out of 34' '29 out of 33' '24 out of 35'
 'Ground out of 24' '19 out of 52' '6 out of 24' '14 out of 42'
 '4 out of 35' '17 out of 34' '39 out of 39' '33 out of 39' '18 out of 40'
 '21 out of 35' '15 out of 26' 'Upper Basement out of 20' '26 out of 33'
 '21 out of 34' 'Upper Basement out of 17' '26 out of 38' '13 out of 40'
 '31 out of 33' '6 out of 35' 'Lower Basement out of 20'
 'Lower Basement out of 50' '38 out of 40' '1 out of 24'
 'Ground out of 27' '16 out of 34' 'Ground out of 31' '3 out of 1'
 '34 out of 34' 'Upper Basement out of 23' '7 out of 35' '3 out of 2'
 '6 out of 2' '17 out of 36' '2 out of 35' '33 out of 35' '10 out of 45'
 '32 out of 34' '6 out of 36' '23 out of 45' '3 out of 40' '14 out of 33'
 '37 out of 46' '27 out of 35' '28 out of 33' '27 out of 33'
 '45 out of 45' '42 out of 45' '5 out of 44' '20 out of 41' '20 out of 45'
 '11 out of 45' 'Ground out of 33' '42 out of 43' '32 out of 45'
 '25 out of 46' '15 out of 42' '38 out of 41' '18 out of 45'
 '26 out of 34' '7 out of 37' '18 out of 36' '21 out of 43' '28 out of 36'
 'Ground out of 25' '4 out of 2' 'Ground out of 26' '17 out of 28'
 '18 out of 31' '33 out of 72' '29 out of 44' '9 out of 39'
 'Ground out of 22' '1 out of 35' 'Ground out of 35' '7 out of 76'
 '11 out of 84' 'Ground out of 23' '33 out of 44' '24 out of 31'
 '15 out of 33' '6 out of 45' '32 out of 33' 'Lower Basement out of 23'
 'Ground out of 29' '6' 'Upper Basement out of 13' '38 out of 38'
 '1 out of 150' '2 out of 1' '3 out of 36' '26 out of 43' '7 out of 56'
 '13' '26 out of 26' '1 out of 34' '28 out of 39' '4 out of 3'
 '24 out of 36' '2 out of 67' '3 out of 29' '26 out of 32' '12'
 '23 out of 26' 'Upper Basement out of 21' '20' '23 out of 29'
 '25 out of 39' '1 out of 32' 'Lower Basement out of 18' '5'
 'Upper Basement out of 24' '200 out of 200' '33 out of 43' '35 out of 37'
 '7 out of 41' 'Lower Basement out of 15' '2 out of 36' 'Lower Basement'
 '5 out of 50' '7 out of 70']

Furnishing:
['Unfurnished' 'Semi-Furnished' 'Furnished' nan]

facing:
[nan 'East' 'West' 'North - East' 'North' 'North - West' 'South'
 'South -West' 'South - East']

overlooking:
[nan 'Garden/Park' 'Garden/Park, Main Road' 'Main Road'
 'Pool, Garden/Park, Main Road' 'Garden/Park, Pool, Main Road'
 'Garden/Park, Pool' 'Main Road, Garden/Park'
 'Main Road, Garden/Park, Pool' 'Pool, Garden/Park' 'Pool'
 'Garden/Park, Main Road, Pool' 'Pool, Main Road'
 'Main Road, Pool, Garden/Park' 'Pool, Main Road, Garden/Park'
 'Main Road, Not Available' 'Main Road, Pool'
 'Garden/Park, Pool, Main Road, Not Available'
 'Garden/Park, Not Available' 'Pool, Main Road, Not Available']

Bathroom:
['1' '2' '3' '4' '6' nan '5' '10' '9' '8' '> 10' '7']

Balcony:
['2' nan '1' '3' '4' '> 10' '6' '5' '7' '10' '8' '9']

Car Parking:
[nan '1 Open' '1 Covered' '2 Covered' '66 Covered' '701 Covered'
 '3 Covered' '1 Covered,' '35 Open' '4 Open' '323 Covered' '4 Covered,'
 '11 Covered' '103 Open' '203 Covered' '2 Open' '180 Covered' '14 Open'
 '50 Open' '10 Covered' '15 Open' '5 Open' '7 Covered' '4 Covered'
 '509 Covered,' '6 Covered' '101 Covered' '5 Covered,' '6 Covered,'
 '3 Covered,' '123 Covered' '505 Covered' '402 Covered' '8 Covered'
 '5 Covered' '2 Covered,' '103 Covered' '12 Covered,' '202 Open'
 '202 Covered' '20 Covered,' '503 Open' '401 Covered' '3 Open'
 '501 Covered' '10 Covered,' '147 Covered' '20 Covered' '310 Covered'
 '204 Covered' '313 Covered' '302 Covered' '442 Covered' '23 Covered'
 '201 Covered,' '8 Open' '112 Covered' '14 Covered' '706 Covered'
 '107 Covered' '120 Covered' '250 Covered' '255 Covered' '11 Open'
 '217 Covered' '12 Covered' '621 Covered' '309 Covered' '536 Covered'
 '601 Covered' '15 Covered' '54 Covered' '20 Open' '10 Open' '403 Open'
 '53 Open' '24 Covered' '33 Covered' '12 Open' '500 Open' '9 Covered,'
 '89 Open' '604 Covered' '87 Covered' '903 Covered' '704 Covered'
 '30 Covered,' '39 Covered' '34 Covered' '306 Covered' '218 Covered'
 '305 Covered' '502 Covered' '406 Open' '102 Covered' '129 Open'
 '201 Covered' '15 Covered,' '76 Covered' '413 Covered' '100 Covered'
 '324 Covered' '300 Covered' '25 Covered' '21 Covered,' '301 Covered'
 '118 Open' '818 Open' '113 Open' '411 Covered' '999 Open' '9 Covered'
 '17 Covered' '999 Covered' '42 Covered' '118 Covered' '571 Open'
 '253 Covered' '51 Covered' '212 Open' '259 Covered' '31 Open' '210 Open'
 '22 Covered' '256 Covered' '50 Covered' '8 Covered,' '32 Open'
 '428 Covered' '7 Covered,' '703 Covered' '507 Covered' '605 Covered'
 '801 Covered' '205 Open' '40 Covered' '701 Open' '151 Open' '40 Open'
 '30 Covered' '804 Open' '16 Covered,' '102 Open' '9 Open' '45 Open'
 '30 Open' '200 Open' '47 Open' '67 Open' '78 Covered' '653 Open'
 '215 Covered' '109 Covered' '504 Open' '222 Covered' '23 Open' '221 Open'
 '204 Open' '303 Covered' '18 Covered' '17 Open' '156 Covered' '123 Open'
 '835 Covered' '60 Open' '45 Covered' '13 Covered,' '13 Open' '52 Open'
 '27 Covered,' '98 Covered' '6 Open' '23 Covered,' '22 Open' '21 Covered'
 '908 Covered' '808 Open' '510 Covered' '506 Covered' '111 Covered'
 '234 Covered' '129 Covered' '59 Covered' '506 Open' '901 Covered'
 '420 Covered' '408 Covered' '60 Covered' '38 Covered' '90 Covered,'
 '13 Covered' '604 Open' '18 Open' '196 Open' '211 Covered' '110 Open'
 '702 Covered' '100 Open' '302 Open' '174 Open' '80 Covered' '40 Covered,'
 '305 Open' '233 Open' '35 Covered,' '35 Covered' '24 Open' '406 Covered'
 '48 Covered' '16 Covered' '108 Covered' '70 Open' '125 Open'
 '503 Covered' '31 Covered' '110 Covered' '404 Covered' '7 Open'
 '303 Open' '101 Open' '304 Covered' '207 Covered' '206 Covered'
 '104 Covered' '416 Covered' '205 Covered' '300 Open' '11 Covered,'
 '403 Covered' '702 Open']

Ownership:
[nan 'Freehold' 'Co-operative Society' 'Power Of Attorney' 'Leasehold']

In [9]:
import re

**Since the ‘Title’ column includes BHK information, a key factor affecting house price, we can extract and convert it into a numerical feature for better model performance.**

In [10]:
data["Title"]=data["Title"].apply(
    lambda x: int(re.search(r'(\d+)\s*BHK', x).group(1)) 
    if re.search(r'(\d+)\s*BHK', x) 
    else None
)

**We can fill the missing values in the ‘Title’ column with 2, as most of the houses are 2 BHK. Using 2 instead of 0 avoids introducing significant distortion, since 0 BHK is unrealistic and would negatively affect the model.**

In [11]:
data["Title"]=data["Title"].fillna(2)
print(data["Title"].isnull().sum())
print(data["Title"].unique())
print(data['Title'].value_counts())
print(data["Title"].isnull().sum())

0
[ 1.  2.  3.  4.  5.  6.  8.  7. 10.  9.]
Title
3.0     80848
2.0     76429
4.0     16600
1.0     12284
5.0      1183
6.0        98
10.0       43
7.0        22
8.0        17
9.0         7
Name: count, dtype: int64
0

**We convert house price values written in words (e.g., ‘50 Lakhs’, ‘1.2 Crores’) into their corresponding numerical format (e.g., 5000000, 12000000) to enable accurate processing and modeling.**

In [12]:
def convert_amount(value):
    try:
        value = str(value).strip()
        if 'Cr' in value:
            return float(value.replace('Cr', '').strip()) * 1e7
        elif 'Lac' in value:
            return float(value.replace('Lac', '').strip()) * 1e5
        elif value.replace('.', '', 1).isdigit():
            return float(value)
        else:
            return None  # For cases like 'Call for Price'
    except:
        return None


data['Amount(in rupees)'] = data['Amount(in rupees)'].apply(convert_amount)

In [13]:
data['Amount(in rupees)'] = data['Amount(in rupees)'].replace('Call for Price', np.nan)

In [14]:
pd.set_option('display.float_format', '{:,.0f}'.format)

In [15]:
print(data.groupby("Title")["Amount(in rupees)"].mean())

Title
1      3,531,214
2      6,219,479
3     13,784,577
4     30,646,983
5     46,354,768
6     70,386,957
7     56,895,238
8    208,985,000
9     36,357,143
10    86,305,128
Name: Amount(in rupees), dtype: float64

**Here, I am replacing the missing price values with the average amount of houses having the same BHK. This helps in estimating a price closer to the actual value.**

In [16]:
data["Amount(in rupees)"] = data["Amount(in rupees)"].fillna(
    data.groupby("Title")["Amount(in rupees)"].transform("mean")
)

In [17]:
print(data["Amount(in rupees)"].isnull().sum())

0


**Here, I am replacing the missing values in the ‘location’ column by using the average house price for each location. First, I calculate the average price per location using groupby. Then I map this average to the ‘location’ column. Finally, if any values are still missing, I fill them with the overall average price.Since the ‘location’ column contains many unique place names, using one-hot encoding would create a large number of features, which may lead to overfitting and increase the model complexity. Therefore, replacing the location with its corresponding average house price is a better approach in this case, as it helps convert categorical data into meaningful numerical values while keeping the feature space compact and avoiding overfitting.**

In [18]:
city_avg_price = data.groupby('location')['Amount(in rupees)'].mean()
data['location'] = data['location'].map(city_avg_price)
data['location'].fillna(data['location'].mean())

0        9,623,260
1        9,623,260
2        9,623,260
3        9,623,260
4        9,623,260
            ...
187526   6,988,955
187527   6,988,955
187528   6,988,955
187529   6,988,955
187530   6,988,955
Name: location, Length: 187531, dtype: float64

In [19]:
print(data["location"].isnull().sum())

0

In [20]:
data["Carpet Area"] = data["Carpet Area"].str.replace("sqft", "", regex=False).str.strip()
data["Carpet Area"] = pd.to_numeric(data["Carpet Area"], errors="coerce")


data["Carpet Area"] = data["Carpet Area"].fillna(
    data.groupby("Title")["Carpet Area"].transform("mean")
)

data["Carpet Area"]=data["Carpet Area"].fillna(data["Carpet Area"].mean())
print("Missing Carpet Area values:", data["Carpet Area"].isnull().sum())

Missing Carpet Area values: 0

**In this step, we convert the textual floor information, such as “14 out of 38” or “Ground out of 10”, into a normalized numerical value between 0 and 1 to make it suitable for machine learning models. The transformation begins by splitting each floor entry into two parts: the current floor level and the total number of floors in the building. For cases where the current floor is described using non-numeric labels like “Ground”, “Upper Basement”, or “Lower Basement”, we treat them as floor number 0. Once both the floor number and total floors are extracted and converted to integers, we calculate the normalized floor position by dividing the current floor number by the total number of floors. This results in a value that represents the relative height of the property within the building. If any error occurs during parsing, we assign a NaN value, which is later replaced with 0, assuming it refers to a ground-level or basement unit. This approach ensures that all floor information is numerically consistent and scaled, enhancing the model’s ability to learn from this feature.**

In [21]:
def convert_floor(value):
    try:
        parts = value.strip().split(" out of ")
        floor_part = parts[0].strip().lower()
        total_floors = int(parts[1])

       
        if "ground" in floor_part:
            floor_num = 0
        elif "upper basement" in floor_part:
            floor_num = 0
        elif "lower basement" in floor_part:
            floor_num = 0
        else:
            floor_num = int(floor_part)

        
        normalized_value = floor_num / total_floors
        return max(0, min(normalized_value, 1))  # clamp to [0, 1]
    except:
        return np.nan  # Invalid data fallback


data["Floor"] = data["Floor"].apply(convert_floor)
data["Floor"] = data["Floor"].fillna(0)

print(data["Floor"].head())
print(data["Floor"].unique())

print("Missing Floor values:", data["Floor"].isnull().sum())

0   1
1   0
2   0
3   0
4   0
Name: Floor, dtype: float64
[0.90909091 0.13636364 0.34482759 0.33333333 0.47619048 0.28571429
 0.8        0.         0.11111111 0.3        0.66666667 0.4
 0.625      0.71428571 1.         0.42857143 0.48387097 0.07142857
 0.85714286 0.375      0.64705882 0.59259259 0.48275862 0.44444444
 0.03703704 0.5        0.42105263 0.75       0.11764706 0.15789474
 0.21428571 0.25       0.4375     0.58333333 0.82352941 0.77777778
 0.23333333 0.6        0.08333333 0.125      0.14285714 0.15384615
 0.05882353 0.88235294 0.88888889 0.2962963  0.80769231 0.41666667
 0.16666667 0.35714286 0.03448276 0.3125     0.10714286 0.2
 0.83333333 0.17857143 0.15       0.46666667 0.46153846 0.06896552
 0.57142857 0.41935484 0.13043478 0.61111111 0.10526316 0.69565217
 0.1        0.62962963 0.42307692 0.46875    0.20689655 0.05
 0.875      0.63636364 0.71875    0.54545455 0.96296296 0.47368421
 0.63333333 0.63157895 0.32258065 0.72727273 0.79166667 0.36842105
 0.60869565 0.13333333 0.53846154 0.65714286 0.94444444 0.0952381
 0.22580645 0.55555556 0.76923077 0.73684211 0.5625     0.9
 0.45454545 0.05263158 0.82608696 0.29411765 0.94117647 0.53125
 0.38888889 0.52777778 0.48148148 0.65625    0.96666667 0.75862069
 0.95833333 0.34375    0.53333333 0.86666667 0.69444444 0.26923077
 0.31034483 0.37931034 0.48       0.27777778 0.38461538 0.22222222
 0.51851852 0.52631579 0.17391304 0.52941176 0.34782609 0.23529412
 0.23809524 0.95       0.68965517 0.84210526 0.73076923 0.88
 0.61538462 0.65       0.40909091 0.27272727 0.26666667 0.7826087
 0.23076923 0.64285714 0.03846154 0.56666667 0.92592593 0.39285714
 0.18518519 0.31818182 0.26315789 0.18181818 0.07692308 0.43333333
 0.52173913 0.93333333 0.92307692 0.78125    0.45       0.37037037
 0.9375     0.85185185 0.68       0.82142857 0.38709677 0.86206897
 0.36363636 0.1875     0.89473684 0.07407407 0.30952381 0.87096774
 0.41176471 0.44       0.53571429 0.8125     0.03333333 0.40625
 0.15151515 0.5862069  0.45833333 0.54166667 0.52       0.81818182
 0.0625     0.32       0.7        0.22727273 0.47058824 0.92857143
 0.09677419 0.57894737 0.61290323 0.38235294 0.16216216 0.40740741
 0.03571429 0.30555556 0.35294118 0.91666667 0.39130435 0.4137931
 0.14814815 0.08695652 0.55       0.91304348 0.78947368 0.73333333
 0.89285714 0.69230769 0.67857143 0.76190476 0.06451613 0.96
 0.09090909 0.96428571 0.62068966 0.30769231 0.55172414 0.85
 0.23684211 0.65217391 0.21212121 0.51282051 0.36       0.06666667
 0.2173913  0.34615385 0.26470588 0.14705882 0.20588235 0.6875
 0.78571429 0.82758621 0.76470588 0.80952381 0.12       0.64516129
 0.68181818 0.74074074 0.05555556 0.81481481 0.73529412 0.84615385
 0.58823529 0.59375    0.32142857 0.67741935 0.4516129  0.01136364
 0.95238095 0.76666667 0.14545455 0.12195122 0.78431373 0.25925926
 0.04347826 0.79545455 0.21052632 0.43478261 0.19047619 0.36111111
 0.90322581 0.7037037  0.74285714 0.29310345 0.84       0.575
 0.86956522 0.33823529 0.37313433 0.6097561  0.52380952 0.28333333
 0.56716418 0.37362637 0.21875    0.32692308 0.37777778 0.45238095
 0.81578947 0.57446809 0.70833333 0.75609756 0.86363636 0.275
 0.9047619  0.97368421 0.67567568 0.18333333 0.67647059 0.38095238
 0.82417582 0.43902439 0.59090909 0.825      0.72222222 0.56756757
 0.35       0.06976744 0.76315789 0.45945946 0.34285714 0.47826087
 0.80555556 0.12962963 0.35897436 0.48351648 0.64150943 0.81081081
 0.95454545 0.51428571 0.85294118 0.17241379 0.41758242 0.08
 0.37209302 0.69767442 0.79069767 0.81395349 0.27906977 0.28
 0.36666667 0.83636364 0.54285714 0.17647059 0.3902439  0.28947368
 0.39473684 0.56521739 0.56       0.77272727 0.46428571 0.62857143
 0.24074074 0.24       0.78666667 0.72413793 0.59210526 0.21568627
 0.21818182 0.25396825 0.56097561 0.31707317 0.41025641 0.675
 0.65384615 0.70588235 0.55263158 0.52459016 0.1509434  0.72
 0.76       0.61904762 0.30434783 0.26086957 0.475      0.96153846
 0.84375    0.94736842 0.32432432 0.31578947 0.28125    0.37837838
 0.03030303 0.40540541 0.80645161 0.79411765 0.04761905 0.225
 0.32352941 0.04       0.65517241 0.90625    0.525      0.15625
 0.03225806 0.82857143 0.68421053 0.64       0.73913043 0.13793103
 0.04545455 0.16129032 0.96774194 0.44117647 0.95652174 0.5483871
 0.96875    0.25714286 0.11538462 0.3030303  0.56818182 0.19230769
 0.27586207 0.64444444 0.88571429 0.35555556 0.89655172 0.57777778
 0.93103448 0.56862745 0.45714286 0.92       0.46511628 0.16
 0.60606061 0.09375    0.09756098 0.3255814  0.25806452 0.63888889
 0.51515152 0.22857143 0.175      0.6969697  0.57575758 0.37142857
 0.5952381  0.1025641  0.51612903 0.29166667 0.71052632 0.025
 0.91428571 0.96551724 0.59459459 0.24137931 0.13157895 0.48571429
 0.70967742 0.19354839 0.60526316 0.52830189 0.25641026 0.10810811
 0.83870968 0.35483871 0.14       0.51724138 0.31428571 0.20833333
 0.55882353 0.87878788 0.68571429 0.36538462 0.11428571 0.57692308
 0.78787879 0.61764706 0.325      0.93939394 0.17142857 0.04166667
 0.47222222 0.05714286 0.94285714 0.51111111 0.075      0.42424242
 0.80434783 0.77142857 0.84848485 0.11363636 0.48780488 0.24444444
 0.97674419 0.71111111 0.54347826 0.92682927 0.18918919 0.48837209
 0.60714286 0.58064516 0.65909091 0.02857143 0.09210526 0.13095238
 0.77419355 0.96969697 0.00666667 0.60465116 0.02941176 0.71794872
 0.02985075 0.10344828 0.88461538 0.79310345 0.64102564 0.03125
 0.76744186 0.94594595 0.17073171]
Missing Floor values: 0

In [22]:
data['Furnishing'] = data['Furnishing'].fillna('Unknown')
data['facing'] = data['facing'].fillna('Unknown')


data = pd.get_dummies(data, columns=['Furnishing', 'facing'], prefix=['Furnish', 'Face'])

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Index                   187531 non-null  int64
 1   Title                   187531 non-null  float64
 2   Description             184508 non-null  object
 3   Amount(in rupees)       187531 non-null  float64
 4   Price (in rupees)       169866 non-null  float64
 5   location                187531 non-null  float64
 6   Carpet Area             187531 non-null  float64
 7   Status                  186916 non-null  object
 8   Floor                   187531 non-null  float64
 9   Transaction             187448 non-null  object
 10  overlooking             106095 non-null  object
 11  Society                 77853 non-null   object
 12  Bathroom                186703 non-null  object
 13  Balcony                 138596 non-null  object
 14  Car Parking             84174 non-null   object
 15  Ownership               122014 non-null  object
 16  Super Area              79846 non-null   object
 17  Dimensions              0 non-null       float64
 18  Plot Area               0 non-null       float64
 19  Furnish_Furnished       187531 non-null  bool
 20  Furnish_Semi-Furnished  187531 non-null  bool
 21  Furnish_Unfurnished     187531 non-null  bool
 22  Furnish_Unknown         187531 non-null  bool
 23  Face_East               187531 non-null  bool
 24  Face_North              187531 non-null  bool
 25  Face_North - East       187531 non-null  bool
 26  Face_North - West       187531 non-null  bool
 27  Face_South              187531 non-null  bool
 28  Face_South - East       187531 non-null  bool
 29  Face_South -West        187531 non-null  bool
 30  Face_Unknown            187531 non-null  bool
 31  Face_West               187531 non-null  bool
dtypes: bool(13), float64(8), int64(1), object(10)
memory usage: 29.5+ MB

In [24]:

data['overlooking'] = data['overlooking'].fillna('')

data['overlooking'] = data['overlooking'].apply(lambda x: [i.strip() for i in x.split(',')] if x else [])

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
overlook_encoded = pd.DataFrame(mlb.fit_transform(data['overlooking']), columns=['Overlook_' + c for c in mlb.classes_])

data = pd.concat([data.drop(columns=['overlooking']), overlook_encoded], axis=1)

In [25]:
data['Bathroom'] = data['Bathroom'].replace('> 10', '11')
data['Bathroom'] = pd.to_numeric(data['Bathroom'], errors='coerce')
data['Bathroom']=data['Bathroom'].fillna(data['Bathroom'].median())

In [26]:
data['Balcony'] = data['Balcony'].replace('> 10', '11')
data['Balcony'] = pd.to_numeric(data['Balcony'], errors='coerce')
data['Balcony']=data['Balcony'].fillna(data['Balcony'].median())

In [27]:
def extract_parking_num(x):
    if pd.isna(x):
        return None
    x = str(x) 
    match = re.search(r'\d+', x)
    return int(match.group()) if match else None

data['Car Parking'] = data['Car Parking'].apply(extract_parking_num)
data['Car Parking'] = data['Car Parking'].fillna(data['Car Parking'].median())

In [28]:
data['Ownership'].fillna('Unknown')
data = pd.get_dummies(data, columns=['Ownership'], prefix='Owner')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Index                       187531 non-null  int64
 1   Title                       187531 non-null  float64
 2   Description                 184508 non-null  object
 3   Amount(in rupees)           187531 non-null  float64
 4   Price (in rupees)           169866 non-null  float64
 5   location                    187531 non-null  float64
 6   Carpet Area                 187531 non-null  float64
 7   Status                      186916 non-null  object
 8   Floor                       187531 non-null  float64
 9   Transaction                 187448 non-null  object
 10  Society                     77853 non-null   object
 11  Bathroom                    187531 non-null  float64
 12  Balcony                     187531 non-null  float64
 13  Car Parking                 187531 non-null  float64
 14  Super Area                  79846 non-null   object
 15  Dimensions                  0 non-null       float64
 16  Plot Area                   0 non-null       float64
 17  Furnish_Furnished           187531 non-null  bool
 18  Furnish_Semi-Furnished      187531 non-null  bool
 19  Furnish_Unfurnished         187531 non-null  bool
 20  Furnish_Unknown             187531 non-null  bool
 21  Face_East                   187531 non-null  bool
 22  Face_North                  187531 non-null  bool
 23  Face_North - East           187531 non-null  bool
 24  Face_North - West           187531 non-null  bool
 25  Face_South                  187531 non-null  bool
 26  Face_South - East           187531 non-null  bool
 27  Face_South -West            187531 non-null  bool
 28  Face_Unknown                187531 non-null  bool
 29  Face_West                   187531 non-null  bool
 30  Overlook_Garden/Park        187531 non-null  int64
 31  Overlook_Main Road          187531 non-null  int64
 32  Overlook_Not Available      187531 non-null  int64
 33  Overlook_Pool               187531 non-null  int64
 34  Owner_Co-operative Society  187531 non-null  bool
 35  Owner_Freehold              187531 non-null  bool
 36  Owner_Leasehold             187531 non-null  bool
 37  Owner_Power Of Attorney     187531 non-null  bool
dtypes: bool(17), float64(11), int64(5), object(5)
memory usage: 33.1+ MB

In [30]:

feature_columns = [
    'Title',
    'Carpet Area',
    'Floor',
    'Bathroom',
    'Balcony',
    'Car Parking',
    'Furnish_Furnished',
    'Furnish_Semi-Furnished',
    'Furnish_Unfurnished',
    'Furnish_Unknown',
    'Face_East',
    'Face_North',
    'Face_North - East',
    'Face_North - West',
    'Face_South',
    'Face_South - East',
    'Face_South -West',
    'Face_Unknown',
    'Face_West',
    'Overlook_Garden/Park',
    'Overlook_Main Road',
    'Overlook_Not Available',
    'Overlook_Pool',
    'Owner_Co-operative Society',
    'Owner_Freehold',
    'Owner_Leasehold',
    'Owner_Power Of Attorney'
]


x_data = data[feature_columns]
y_data = data['Amount(in rupees)']

In [31]:
print(x_data.info())
print(y_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Title                       187531 non-null  float64
 1   Carpet Area                 187531 non-null  float64
 2   Floor                       187531 non-null  float64
 3   Bathroom                    187531 non-null  float64
 4   Balcony                     187531 non-null  float64
 5   Car Parking                 187531 non-null  float64
 6   Furnish_Furnished           187531 non-null  bool
 7   Furnish_Semi-Furnished      187531 non-null  bool
 8   Furnish_Unfurnished         187531 non-null  bool
 9   Furnish_Unknown             187531 non-null  bool
 10  Face_East                   187531 non-null  bool
 11  Face_North                  187531 non-null  bool
 12  Face_North - East           187531 non-null  bool
 13  Face_North - West           187531 non-null  bool
 14  Face_South                  187531 non-null  bool
 15  Face_South - East           187531 non-null  bool
 16  Face_South -West            187531 non-null  bool
 17  Face_Unknown                187531 non-null  bool
 18  Face_West                   187531 non-null  bool
 19  Overlook_Garden/Park        187531 non-null  int64
 20  Overlook_Main Road          187531 non-null  int64
 21  Overlook_Not Available      187531 non-null  int64
 22  Overlook_Pool               187531 non-null  int64
 23  Owner_Co-operative Society  187531 non-null  bool
 24  Owner_Freehold              187531 non-null  bool
 25  Owner_Leasehold             187531 non-null  bool
 26  Owner_Power Of Attorney     187531 non-null  bool
dtypes: bool(17), float64(6), int64(4)
memory usage: 17.3 MB
None
<class 'pandas.core.series.Series'>
RangeIndex: 187531 entries, 0 to 187530
Series name: Amount(in rupees)
Non-Null Count   Dtype
--------------   -----
187531 non-null  float64
dtypes: float64(1)
memory usage: 1.4 MB
None

In [32]:
X_train,X_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.2,random_state=34)
X_train= X_train.astype(int)
X_test=X_test.astype(int)
y_train=y_train.astype(int)
y_test=y_test.astype(int)

In [33]:
print(X_train.head())
print(X_test.head())
print(y_train.head())

        Title  Carpet Area  Floor  Bathroom  Balcony  Car Parking  \
136353      3         1250      0         2        1            1
137839      3         1760      0         4        3            1
128582      1          416      0         1        1            1
2887        2          500      0         2        1            1
7912        3         1388      0         3        3            1

        Furnish_Furnished  Furnish_Semi-Furnished  Furnish_Unfurnished  \
136353                  0                       1                    0
137839                  0                       1                    0
128582                  0                       0                    1
2887                    0                       0                    1
7912                    0                       0                    1

        Furnish_Unknown  ...  Face_Unknown  Face_West  Overlook_Garden/Park  \
136353                0  ...             0          0                     0
137839                0  ...             0          0                     1
128582                0  ...             0          0                     0
2887                  0  ...             0          0                     1
7912                  0  ...             1          0                     1

        Overlook_Main Road  Overlook_Not Available  Overlook_Pool  \
136353                   0                       0              0
137839                   1                       0              0
128582                   0                       0              0
2887                     1                       0              0
7912                     1                       0              0

        Owner_Co-operative Society  Owner_Freehold  Owner_Leasehold  \
136353                           0               1                0
137839                           0               1                0
128582                           0               1                0
2887                             0               1                0
7912                             0               1                0

        Owner_Power Of Attorney
136353                        0
137839                        0
128582                        0
2887                          0
7912                          0

[5 rows x 27 columns]
        Title  Carpet Area  Floor  Bathroom  Balcony  Car Parking  \
27086       3         1388      0         3        2            1
31195       2          847      0         2        2            1
88192       3         1388      0         3        3            1
160254      3         1388      0         2        1            1
76278       2          847      0         2        2            1

        Furnish_Furnished  Furnish_Semi-Furnished  Furnish_Unfurnished  \
27086                   0                       0                    1
31195                   0                       1                    0
88192                   0                       1                    0
160254                  0                       0                    1
76278                   0                       1                    0

        Furnish_Unknown  ...  Face_Unknown  Face_West  Overlook_Garden/Park  \
27086                 0  ...             0          0                     1
31195                 0  ...             1          0                     0
88192                 0  ...             0          0                     0
160254                0  ...             0          0                     0
76278                 0  ...             1          0                     0

        Overlook_Main Road  Overlook_Not Available  Overlook_Pool  \
27086                    0                       0              0
31195                    0                       0              0
88192                    1                       0              0
160254                   0                       0              0
76278                    0                       0              0

        Owner_Co-operative Society  Owner_Freehold  Owner_Leasehold  \
27086                            0               1                0
31195                            0               0                0
88192                            0               1                0
160254                           0               1                0
76278                            0               0                0

        Owner_Power Of Attorney
27086                         0
31195                         0
88192                         0
160254                        0
76278                         0

[5 rows x 27 columns]
136353     8500000
137839    23500000
128582     1650000
2887       3500000
7912       9500000
Name: Amount(in rupees), dtype: int64

In [34]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
y_train_log = np.log1p(y_train)
y_test_log = np.log1p(y_test)

In [35]:
X_train_scaled[:1]

array([[ 0.55276599,  0.01792145, -0.3764773 , -0.48941226, -1.2168155 ,
        -0.06354929, -0.34712179,  1.05937735, -0.82626476, -0.1256841 ,
        -0.64281744, -0.31113175,  2.60363342, -0.14606743, -0.159874  ,
        -0.11894742, -0.10519521, -0.77348458, -0.21898327, -0.78787193,
        -0.85173065, -0.00577314, -0.37345927, -0.13682507,  0.81846409,
        -0.17078887, -0.07553003]])

In [36]:
print(y_train_log)

136353   16
137839   17
128582   14
2887     15
7912     16
         ..
38435    16
82244    18
153449   16
43498    16
103546   16
Name: Amount(in rupees), Length: 150024, dtype: float64

In [37]:
print("X_Train Shape",X_train_scaled.shape)
print("X_test Shape",X_test_scaled.shape)
print("y_train shape",y_train_log.shape)
print("y_test shape",y_test_log.shape)

X_Train Shape (150024, 27)
X_test Shape (37507, 27)
y_train shape (150024,)
y_test shape (37507,)

In [38]:
model = Sequential([
    Dense(128, activation='relu', input_shape=(27,)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1)  
])
model.compile(optimizer='adam', loss='mse')

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2025-07-26 14:08:00.705005: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:152] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [39]:
model.fit(X_train_scaled, y_train_log, epochs=50, batch_size=27, validation_split=0.1,verbose=1)

Epoch 1/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 11s 2ms/step - loss: 9.8748 - val_loss: 0.2380
Epoch 2/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.4211 - val_loss: 0.2071
Epoch 3/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.2314 - val_loss: 0.1959
Epoch 4/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.2334 - val_loss: 0.2551
Epoch 5/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.2064 - val_loss: 0.2122
Epoch 6/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.2090 - val_loss: 0.1887
Epoch 7/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.2910 - val_loss: 0.1861
Epoch 8/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1986 - val_loss: 0.2178
Epoch 9/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1955 - val_loss: 0.1744
Epoch 10/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1849 - val_loss: 0.1873
Epoch 11/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1815 - val_loss: 0.1694
Epoch 12/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1932 - val_loss: 0.1606
Epoch 13/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1823 - val_loss: 0.1623
Epoch 14/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1713 - val_loss: 0.1614
Epoch 15/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1739 - val_loss: 0.1682
Epoch 16/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1678 - val_loss: 0.1906
Epoch 17/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1681 - val_loss: 0.1652
Epoch 18/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1661 - val_loss: 0.1847
Epoch 19/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1640 - val_loss: 0.1725
Epoch 20/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1694 - val_loss: 0.1740
Epoch 21/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1663 - val_loss: 0.1687
Epoch 22/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1629 - val_loss: 0.1608
Epoch 23/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1682 - val_loss: 0.1561
Epoch 24/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1590 - val_loss: 0.1594
Epoch 25/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1631 - val_loss: 0.1623
Epoch 26/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1617 - val_loss: 0.1650
Epoch 27/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1603 - val_loss: 0.1818
Epoch 28/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1613 - val_loss: 0.1522
Epoch 29/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1582 - val_loss: 0.1561
Epoch 30/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1715 - val_loss: 0.1612
Epoch 31/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1567 - val_loss: 0.1572
Epoch 32/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1567 - val_loss: 0.1766
Epoch 33/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1577 - val_loss: 0.1545
Epoch 34/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1544 - val_loss: 0.1561
Epoch 35/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1537 - val_loss: 0.1587
Epoch 36/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1553 - val_loss: 0.1560
Epoch 37/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1520 - val_loss: 0.1536
Epoch 38/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1528 - val_loss: 0.1686
Epoch 39/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1520 - val_loss: 0.1536
Epoch 40/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1525 - val_loss: 0.1635
Epoch 41/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1509 - val_loss: 0.1545
Epoch 42/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1516 - val_loss: 0.1460
Epoch 43/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1493 - val_loss: 0.1522
Epoch 44/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1525 - val_loss: 0.1483
Epoch 45/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1503 - val_loss: 0.1474
Epoch 46/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1487 - val_loss: 0.1512
Epoch 47/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1471 - val_loss: 0.1735
Epoch 48/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1565 - val_loss: 0.1489
Epoch 49/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1481 - val_loss: 0.1526
Epoch 50/50
5001/5001 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 0.1488 - val_loss: 0.1554

In [40]:
y_pred = model.predict(X_test_scaled)

1173/1173 ━━━━━━━━━━━━━━━━━━━━ 1s 979us/step

In [41]:
mse = mean_squared_error(y_test_log, y_pred)
r2 = r2_score(y_test_log, y_pred)

print("Mean Squared Error:", mse)
print("R² Score:", r2)

Mean Squared Error: 0.15941792027636395
R² Score: 0.7587572614569711


**We have attained a Mean Squared Error (MSE) of 0.1551 and an R² Score of 0.7651, which indicates that our linear regression model is performing reasonably well given the current level of data preprocessing and feature engineering. An R² score of approximately 0.76 suggests that the model is able to explain about 76% of the variance in the target variable, which is a good starting point for a basic model built with minimal processing.**

**However, this performance has been achieved using only simple data cleaning techniques and without extensive optimization or transformation of features. For example, we performed basic cleaning such as converting textual price formats into numeric values, extracting numerical insights from floor information, and filling missing values with location-based or global averages. We have not yet incorporated more advanced steps such as outlier removal, polynomial feature creation, feature selection, encoding location semantics more efficiently, or hyperparameter tuning.**

**This experiment primarily serves as a baseline to understand how a simple Multi-Layer Perceptron (MLP) architecture combined with a linear regression layer behaves on structured tabular data. The encouraging performance highlights the potential of the model and dataset — suggesting that with more refined feature engineering, such as handling skewed distributions, encoding categorical features in a more informative way (e.g., target encoding or embeddings), or switching to a more complex model like XGBoost or a deep MLP with non-linear activations, we can likely achieve much better results.**

**In summary, this project successfully demonstrates the foundational pipeline of cleaning real estate data and applying a basic MLP regression model. The results show promise, and with further refinement in data preprocessing and model optimization, there is significant scope to improve the prediction accuracy and build a robust, production-grade model.**